<section>
  <div class="clients-area pt-50 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 text-center pb-40">
          <div>
            <h2 class="title-header">Our Supporters</h2>
            <p>Take it from the companies below. These folks recognize the difference we're making <br>and are dedicated to helping us continue our mission. Are you?</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="clients-active owl-carousel">
          {% for supporter in site.data.supporters %}
          <div class="col-3">
            <div class="single-clients">
              <a href="{{ supporter.link_to }}"><img src="{{ site.baseurl }}/{{ supporter.image }}" alt="{{ supporter.name }}"></a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>